* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 150px;
    border-bottom: 1px solid #ddd;
}

.header-right .navigators {
    display: flex;
    list-style: none;
}

.header a {
    font-weight: bold;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 6px;
    text-transform: uppercase;
}

.header-right a:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    color: rgb(0, 122, 255);
}

.header-right {
    float: right;
}

.logo span {
    color: rgb(0, 122, 255);
}

.logo a:hover {
    text-decoration: none;
    color: black;
}

.logo a {
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

ul.navigators {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navigators .nav-item {
    margin-right: 20px;
}

.navigators:last-child {
    margin-right: 0;
}

.leftcontent {
    display: block;
    background-color: #003D33;
    justify-content: left;
    width: 50%;
}

.rightcontent {
    display: block;
    background-color: orange;
    justify-content: left;
    width: 50%;
}

.col h4 {
    color: #00796B;
    padding-top: 5%;
}

.tablecontent {
    padding-left: 20%;
}

.tablecontent h4 {
    padding-top: 20;
    color: #00796B;
    padding-bottom: 20px;
}