@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white !important;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    padding: 5px 40px 5px 150px;
    border-bottom: 1px solid #ddd;
}

.header-right .navigators {
    display: flex;
    list-style: none;
}

.header a {
    font-weight: bold;
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    line-height: 25px;
    border-radius: 6px;
    text-transform: uppercase;
}

.header-right a:hover {
    background-color: #ddd;
    color: black;
}

.content-body {
    width: 100%;
}

.logo a:hover {
    text-decoration: none;
    color: black;
}

.header a.active {
    color: rgb(0, 122, 255);
}

.header-right {
    float: right;
}

@media screen and (max-width: 500px) {
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
}

ul.navigators {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.navigators .nav-item {
    margin-right: 20px;
}

.navigators:last-child {
    margin-right: 0;
}

.logo a {
    font-size: 18px;
    text-decoration: none;
    text-align: left;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.logo span {
    color: rgb(0, 122, 255);
}


/* Banner */

.banner {
    position: absolute;
    top: 0;
    z-index: -1;
    display: flex;
    width: 100%;
    height: 100%;
}

.a,
.b {
    position: fixed;
    width: auto;
    height: 100%;
}

img.a {
    right: 50%;
}

img.b {
    left: 50%;
}

.text-container {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    width: 100%;
    height: 100%;
    display: flex;
}

.text-container .btn {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.side-a {
    position: absolute;
    width: 50%;
    bottom: 65px;
    padding-right: 60px;
}

.side-a .btn {
    background-color: #FFA526;
}

.side-a span,
.side-a button {
    float: right;
}

.side-b {
    width: 50%;
    position: absolute;
    left: 50%;
    padding-left: 60px;
    top: 65px;
}

.side-b .btn {
    background-color: #1B7AE7;
}

span.leading-title {
    font-size: 130px;
    font-family: sans-serif;
    font-weight: 600;
}

span.subtitle {
    font-size: 20px;
    top: -35px;
    position: relative;
    width: 80%;
    display: block;
}

.side-a span.subtitle {
    text-align: right;
}

.side-b span.subtitle {
    text-align: left;
}


/* Categories bar */

.cat-bar {
    display: block;
    padding: 20px;
    background-color: white;
    margin-right: 20px;
    border: 2px solid #555;
    border-radius: 10px;
    min-width: 350px;
}

.cat-bar-title {
    margin-bottom: 10px;
}

.cat-bar-title h4 {
    font-weight: bold;
    text-align: center;
}

.categories {
    display: flex;
    list-style: none;
    margin: 0;
    flex-wrap: wrap;
}

.cat-item {
    margin: 0 10px 10px 0;
}

.cat-item:last-child {
    margin-right: 0;
}

.cat-link {
    color: black;
    border: 1px solid black;
    text-decoration: none !important;
    padding: 7px 20px;
    font-size: 14px;
    border-radius: 17px;
    max-height: 34px;
    min-width: 60px;
    display: block;
}


/* Content Wrapper */

.content {
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    padding: 20px 40px;
    display: flex;
}

.word-card {
    padding: 20px;
    background-color: white;
    border: 2px solid #555;
    border-radius: 10px;
    display: flex;
    width: 1000px;
}

.word-card-content-left {
    flex: 0.62;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-row {
    display: flex;
}

.word-card-content-right {
    flex: 0.38;
}

.word-card-content-right img {
    width: 100%;
    height: auto;
}

.side-label h5 {
    text-align: center;
    background-color: rgba(0, 0, 0, .06);
    padding: 7px 0;
    margin-bottom: 20px;
    border-radius: 4px;
}


/* Pagination */

.customized-pagination {
    padding: 16px 0 0;
    display: flex;
    justify-content: space-between;
}

.customized-pagination button {
    width: 140px;
    background: #007AFF;
    color: white;
    font-size: 16px;
}

.customized-pagination button.left i {
    margin-right: 10px;
}

.customized-pagination button.right i {
    margin-left: 10px;
}

.card-count p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}


/* Options */

.options {
    list-style: none;
}

li.option-item {
    margin-bottom: 10px;
}

a.option-link {
    padding: 5px 0 5px 15px;
    background-color: rgba(0, 0, 0, .06);
    display: block;
    border-radius: 4px;
    text-decoration: none !important;
    transition: background-color .1s ease-in;
}

a.option-link:hover {
    color: #3490dc;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.08);
}